body {
    margin: 0;
    font-family: sans-serif;
    background: url("https://images.unsplash.com/photo-1583470037890-73cc6850b7eb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    perspective: 1500px;

}

.bands-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(45deg,rgba(197, 165, 23, 1), rgb(31, 131, 145), rgba(156, 15, 15, 1));
    pointer-events: none;
    user-select: none;
}

#bands {
    list-style-type: none;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.7);
    width: 500px;
    margin: auto;
    padding: 0;
}

#bands li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
}

#bands li:last-child {
    border-bottom: 0;
}

a {
    color: #ffc600;
    text-decoration: none;
}